<div class="banner-container banner-change">
  <div class="banner-nav-bar">
    <div><h1><i class="fas fa-play"></i>My Movies Lists</h1>
        <p class="text-center" style="margin-top: 10px;">Exercise created during the Bootcamp at Le wagon Lisbon.</p>
    </div>
  </div>
</div>