// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";


.btn-blue {
    //background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
    height: 80px;
    width: 170px;
    border-radius: 25px;
}
